apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: vaultwarden-ingress
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod

spec:
  rules:
  - host: vault.devcw.xyz
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: vaultwarden-service
            port:
              number: 80

  tls:
  - hosts:
    - vault.devcw.xyz
    secretName: vaultwarden-ingress-tls
  ingressClassName: traefik
