apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: seafile-ingress
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
spec:
  ingressClassName: traefik
  rules:
  - host: seafile.devcw.xyz
    http:
      paths:
      - path: /seafhttp
        pathType: Prefix
        backend:
          service:
            name: seafile
            port:
              number: 8082
      - path: /
        pathType: Prefix
        backend:
          service:
            name: seafile
            port:
              number: 80
  tls:
  - hosts:
    - seafile.devcw.xyz
    secretName: seafile-ingress-tls
